h1 {
  font-family: sans-serif;;
  color: white;
  text-align: center;
}


p {
  color: white;
  text-align: center;
}
body{
  font-size: 35px;
  font-family:monospace;
  background-image:url("Babypink.jpg");
  }
  a {
    color: white;


  }
